.footer {
  padding-top: 10px;
  color:white;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 60px;
  min-height: 60px;
  /* Height of the footer */
  background: rgb(93, 93, 93);
  text-align: center;
}
